body {
  background-color: #111;
  color: #fff;
  text-align: center;
  line-height: 1.6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#mainHeading {
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: 2px 2px 2px rgb(255, 204, 0);
  font-weight: bold;
  font-size: 3vw;
}

.textSection {
  font-family: "Courier New", Courier, monospace;
}

.textStyle {
  font-family: "Gill Sans", sans-serif;
  font-weight: bolder;
  color: #fde39b;
  font-size: 30px;
}

img {
  width: 70%;
  height: 400px;
}

figcaption {
  font-style: italic;
  font-weight: 900;
  color: hsl(33, 88%, 73%);
}

footer {
  font-family: "Arial", sans-serif;
  color: #fff;
  text-align: center;
}